/* make sidebar nav vertical */
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }

  body > div.row > div.col-sm-3 > div > div > div.navbar-collapse.collapse.sidebar-navbar-collapse > ul > li.active > a{
    background-color: #B9DC9C;
  }
  body > div.row > div.col-sm-3 > div > div{
    margin-left: 15px;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .jumbotron{
    height: 200px;
    /* Ubicación de la imagen */
    background-image: url('../img/banner4.png');

    /* Nos aseguramos que la imagen de fondo este centrada vertical y
      horizontalmente en todo momento */
    background-position: center center;

    /* La imagen de fondo no se repite */
    background-repeat: no-repeat;

    /* La imagen de fondo está fija en el viewport, de modo que no se mueva cuando
       la altura del contenido supere la altura de la imagen. */
    background-attachment: fixed;

    /* La imagen de fondo se reescala cuando se cambia el ancho de ventana
       del navegador */
    background-size: cover;

    /* Fijamos un color de fondo para que se muestre mientras se está
      cargando la imagen de fondo o si hay problemas para cargarla  */
    /*background-color: rgba(0,0,0,0.9);*/
  }
  .efecto {
    transition: 0.3s ease;
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
    border-top: 4px solid #f8f8f8;
    border-bottom: 4px solid #f8f8f8;
    padding: 0px 0;
    margin: 0 20px;
  }
  .efecto:hover {
    border-top: 4px solid #B9DC9C;
    border-bottom: 4px solid #B9DC9C;
    padding: 6px 0;
    background-color: #f8f8f8;
  }
